.container{
    width: 80%;
    font-family:"Roboto", serif;
    display: flex;
    align-content: center;
    margin:  auto;
    height: auto;
    flex-wrap: wrap;
    margin-top: 100px;
    border-radius: 20px;
}
.box{
    max-width: 80%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box h1{
    font-weight: 400;
    color: rgb(92, 92, 92);
}
.inputbox{
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(186, 186, 186);
    padding: 10px;
}
.inputbox:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 0px 10px rgb(186, 186, 186);
}
.box button{
    width: 506px;
    height: 35px;
    background-color: rgb(12, 175, 12);
    border: none;
    color: white;
    margin-top: 10px;
    border-radius: 5px;

    
}
.infomation{
    background-color: white;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(186, 186, 186);
    position: relative;
    margin-top: 10px;
    padding: 5px;
    display: none;
}

.title{
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}
.idandstatus{
padding-bottom: 20px;
}